In [1]:
import pandas as pd

# schalchemy dependencies
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
Base = declarative_base()

In [3]:
ranking_csv = pd.read_csv('rankings.csv')

ranking_csv.head()

,Rank,Name,Team,Cl,Ht,Pos,G,FGM,FT,PTS
0,1,Mike Daum,South Dakota St.,Sr.,9-Jun,F,12,107,72,314
1,2,Justin Wright-Foreman,Hofstra,Sr.,2-Jun,G,11,98,59,283
2,3,Chris Clemons,Campbell,Sr.,9-May,G,9,86,75,279
3,4,Antoine Davis,Detroit Mercy,Fr.,1-Jun,G,10,95,30,274
4,5,Yoeli Childs,BYU,Jr.,8-Jun,F,12,108,46,273

In [4]:
ranking_csv.head()

,Rank,Name,Team,Cl,Ht,Pos,G,FGM,FT,PTS
0,1,Mike Daum,South Dakota St.,Sr.,9-Jun,F,12,107,72,314
1,2,Justin Wright-Foreman,Hofstra,Sr.,2-Jun,G,11,98,59,283
2,3,Chris Clemons,Campbell,Sr.,9-May,G,9,86,75,279
3,4,Antoine Davis,Detroit Mercy,Fr.,1-Jun,G,10,95,30,274
4,5,Yoeli Childs,BYU,Jr.,8-Jun,F,12,108,46,273

In [5]:
# Create a filtered dataframe from specific columns for player's rank
ranking_cols = [
    "Rank", "Name", "Team", "PTS"]
ranks = ranking_csv[ranking_cols].copy()


print(len(ranks))
ranks.head()

254

   Rank                   Name              Team  PTS
0     1              Mike Daum  South Dakota St.  314
1     2  Justin Wright-Foreman           Hofstra  283
2     3          Chris Clemons          Campbell  279
3     4          Antoine Davis     Detroit Mercy  274
4     5           Yoeli Childs               BYU  273

In [6]:
seeding_csv = pd.read_csv('team_mascot_seed_2018.csv')

seeding_csv.head()

   Seed Region        Name                                             Mascot
0     1  SOUTH    Virginia  https://i.turner.ncaa.com/sites/default/files/...
1    16  SOUTH        UMBC  https://i.turner.ncaa.com/sites/default/files/...
2     8  SOUTH   Creighton  https://i.turner.ncaa.com/sites/default/files/...
3     9  SOUTH  Kansas St.  https://i.turner.ncaa.com/sites/default/files/...
4     5  SOUTH    Kentucky  https://i.turner.ncaa.com/sites/default/files/...

In [7]:
# Create a filtered dataframe from specific columns for players
seeds_cols = [
    "Seed", "Name", "Region"]
seeds = seeding_csv[seeds_cols].copy()

seeds.reset_index(inplace=True)
print(len(seeds))
seeds.head()

68

   index  Seed        Name Region
0      0     1    Virginia  SOUTH
1      1    16        UMBC  SOUTH
2      2     8   Creighton  SOUTH
3      3     9  Kansas St.  SOUTH
4      4     5    Kentucky  SOUTH

In [9]:
#"Rank", "Name","Team","PTS"
class Ranks(Base):
    __tablename__ = "ranks"
    Rank = Column(Integer, primary_key=True)
    Name = Column(String(255))
    Team = Column(String(255))
    PTS = Column(Integer)

In [10]:
class Seeds(Base):
    __tablename__ = "seeds"
    index = Column(Integer, primary_key=True)
    Seed = Column(Integer)
    Name = Column(String(255))
    Region = Column(String(255))

In [14]:
engine = create_engine("sqlite:///ncaa_Rank_Seed2018.sqlite")

In [15]:
Base.metadata.create_all(engine)

In [16]:
ranks.to_sql("ranks", engine, if_exists='append', index=False)
seeds.to_sql("seeds", engine, if_exists='append', index=False)

In [17]:
engine.table_names()

['ranks', 'seeds']

In [19]:
engine.execute("SELECT * FROM ranks LIMIT 1").fetchall()

[(1, 'Mike Daum', 'South Dakota St.', 314)]

In [20]:
engine.execute("SELECT * FROM seeds LIMIT 1").fetchall()

[(0, 1, 'Virginia', 'SOUTH')]