In [13]:
import pandas as pd
import datadotworld as dw

In [14]:
# Load the data object
data_object = dw.load_dataset('rustygentile/ncaa-etl', force_update=True)
available_csvs = list(data_object.dataframes)

In [15]:
# print out the first five csvs:
available_csvs[:5]

['2017_03_14_kansas_st_wake_forest_boxscore_game_results',
 '2017_03_14_kansas_st_wake_forest_boxscore_kansas_st',
 '2017_03_14_kansas_st_wake_forest_boxscore_wake_forest',
 '2017_03_14_mt_st_marys_new_orleans_boxscore_game_results',
 '2017_03_14_mt_st_marys_new_orleans_boxscore_mt_st_marys']

In [16]:
# load 3 dataframes as an example
dfs_2017 = []
for csvs in available_csvs[:3]:
    if "2017" in csvs:
        dfs_2017.append(data_object.dataframes[csvs])

In [17]:
for d in dfs_2017:
    print("Dataframe:")
    print(d.head())

Dataframe:
   column_a  column_b    column_c
0         1         2  Unnamed: 3
1        40        55          95
2        36        52          88
Dataframe:
             name pos min fgm_a 3pm_a  ftm_a  oreb  reb  ast   st  blk   to  \
0   Wesley Iwundu   F  35   6-9   1-2  11-13   1.0  6.0  7.0  1.0  0.0  2.0
1    D.J. Johnson   F  34   8-9   0-0    2-2   3.0  6.0  0.0  0.0  3.0  0.0
2    Xavier Sneed   F  12   0-2   0-2    2-4   0.0  2.0  2.0  4.0  0.0  2.0
3  Isaiah Maurice   F   6   0-0   0-0    0-0   0.0  1.0  0.0  0.0  0.0  1.0
4       Dean Wade   F  23   3-4   0-1    2-3   0.0  2.0  2.0  0.0  0.0  2.0

    pf   pts
0  3.0  24.0
1  4.0  18.0
2  3.0   2.0
3  3.0   0.0
4  2.0   8.0
Dataframe:
                    name pos min fgm_a 3pm_a ftm_a  oreb  reb  ast   st  blk  \
0     Sam Japhet-Mathias   C   2   0-0   0-0   0-0   0.0  0.0  0.0  0.0  0.0
1  Konstantinos Mitoglou   F  29   1-5   1-4   4-6   1.0  2.0  0.0  1.0  0.0
2         Greg McClinton   F   4   0-0   0-0   0-0   0.0  0.0  0.0  0.0  0.0
3           John Collins   F  36  9-13   0-0   8-8   4.0  9.0  0.0  1.0  0.0
4          Austin Arians   F  19   5-7   4-5   3-3   0.0  0.0  0.0  0.0  0.0

    to   pf   pts
0  0.0  2.0   0.0
1  0.0  4.0   7.0
2  0.0  2.0   0.0
3  2.0  2.0  26.0
4  1.0  3.0  17.0