In [127]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
from splinter import Browser
import datadotworld as dw

In [128]:
dw_csv = dw.load_dataset('rustygentile/ncaa-etl', force_update=True)
url_list = dw_csv.dataframes['game_urls']
url_list.head()
for url in url_list['urls']:
    print(url)

https://www.ncaa.com/game/basketball-men/d1/2017/03/16/mt-st-marys-villanova
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/virginia-tech-wisconsin
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/unc-wilmington-virginia
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/east-tenn-st-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/southern-california-smu
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/new-mexico-st-baylor
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/marquette-south-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/troy-duke
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/wisconsin-villanova
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/virginia-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/southern-california-baylor
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/south-carolina-duke
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/wisconsin-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/south-carolina-baylor
https://www.ncaa.com/game/basketball-men/d1/2017/03/26/south-carolina-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/uc-davis-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/michigan-st-miami-fl
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/nevada-iowa-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vermont-purdue
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/rhode-island-creighton
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/iona-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/oklahoma-st-michigan
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/jacksonville-st-louisville
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/michigan-st-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/iowa-st-purdue
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/rhode-island-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/michigan-louisville
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/purdue-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/michigan-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/25/oregon-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/04/01/south-carolina-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/04/03/gonzaga-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/04/01/oregon-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/south-dakota-st-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vanderbilt-northwestern
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/princeton-notre-dame
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/bucknell-west-virginia
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/xavier-maryland
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/fgcu-florida-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vcu-st-marys-ca
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/north-dakota-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/northwestern-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/notre-dame-west-virginia
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/xavier-florida-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/st-marys-ca-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/west-virginia-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/xavier-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/25/xavier-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/texas-southern-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/seton-hall-arkansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/middle-tenn-minnesota
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/winthrop-butler
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/kansas-st-cincinnati
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/kent-st-ucla
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/wichita-st-dayton
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/northern-ky-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/arkansas-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/middle-tenn-butler
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/cincinnati-ucla
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/wichita-st-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/butler-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/ucla-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/26/kentucky-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/14/kansas-st-wake-forest
https://www.ncaa.com/game/basketball-men/d1/2017/03/14/mt-st-marys-new-orleans
https://www.ncaa.com/game/basketball-men/d1/2017/03/15/nc-central-uc-davis
https://www.ncaa.com/game/basketball-men/d1/2017/03/15/southern-california-providence

In [136]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.ncaa.com/game/basketball-men/d1/2018/03/22/kansas-st-kentucky/boxscore"
browser.visit(url)
#browser.execute_script(browser.resizeTo(1024, 768))
browser.driver.set_window_size(3840, 2160)

In [130]:
html = browser.html
#response = requests.get(url)
soup = BeautifulSoup(html, 'lxml')
tables = pd.read_html(html)
away_table = tables[1]
away_table
html.to_text

,Name,POS,MIN,FGM-A,3PM-A,FTM-A,OREB,REB,AST,ST,BLK,TO,PF,PTS
0,Xavier Sneed,F,30,7-14,5-8,3-7,2.0,9.0,1.0,2.0,0.0,0.0,5.0,22.0
1,Makol Mawien,F,22,0-4,0-0,0-0,0.0,0.0,0.0,1.0,2.0,1.0,5.0,0.0
2,Levi Stockard,F,5,0-0,0-0,2-2,0.0,0.0,1.0,0.0,0.0,2.0,5.0,2.0
3,Dean Wade,F,8,1-2,0-0,2-2,1.0,1.0,0.0,1.0,0.0,0.0,1.0,4.0
4,Cartier Diarra,G,27,2-6,1-2,0-1,1.0,3.0,2.0,2.0,0.0,1.0,4.0,5.0
5,Amaad Wainright,G,9,2-3,0-1,2-4,2.0,4.0,0.0,0.0,0.0,1.0,4.0,6.0
6,Mike McGuirl,G,21,1-3,1-2,0-0,1.0,2.0,2.0,1.0,0.0,0.0,3.0,3.0
7,Kamau Stokes,G,39,2-7,1-5,1-1,2.0,5.0,3.0,4.0,0.0,2.0,1.0,6.0
8,Barry Brown,G,39,4-15,1-4,4-5,0.0,3.0,3.0,0.0,0.0,2.0,2.0,13.0
9,Total,NaN,19-54,9-22,14-22,9,27.0,12.0,11.0,2.0,9.0,30.0,61.0,NaN
10,NaN,35.20%,40.90%,63.60%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
away_active = soup.find_all('div', class_='boxscore-team-selector-team awayTeam-bg-primary_color homeTeam-border-primary_color away active')
away_team = away_active[0].text.strip()
away_team
game_score = tables[0]

In [120]:
# Close browser.
browser.quit()

In [121]:
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
#away_var = away_team[0].text.strip()
#browser.click_link_by_partial_text(away_var)

elems = browser.find_by_css('div[class="boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"]')

elems

In [122]:
browser.execute_script("window.scrollTo(0, 200)")
elems[0].click()

In [123]:
html = browser.html
#response = requests.get(url)
soup = BeautifulSoup(html, 'lxml')
home_active = soup.find_all('div', class_='boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home active')
home_team = home_active[0].text.strip()
home_team

'Kentucky'

In [124]:
html = browser.html
tables = pd.read_html(html)
home_table = tables[1]
home_table

,Name,POS,MIN,FGM-A,3PM-A,FTM-A,OREB,REB,AST,ST,BLK,TO,PF,PTS
0,PJ Washington,F,40,5-7,0-0,8-20,6.0,15.0,0.0,3.0,1.0,2.0,4.0,18.0
1,Nick Richards,F,8,0-0,0-0,1-2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,Kevin Knox,F,34,5-10,1-3,2-2,0.0,8.0,0.0,1.0,1.0,2.0,4.0,13.0
3,Wenyen Gabriel,F,27,1-5,0-2,1-1,2.0,3.0,0.0,1.0,1.0,0.0,4.0,3.0
4,Sacha Killeya-Jones,F,14,0-1,0-0,0-0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
5,Quade Green,G,25,2-5,2-4,0-0,0.0,2.0,1.0,0.0,0.0,3.0,2.0,6.0
6,Shai Gilgeous-Alexander,G,39,2-10,0-2,11-12,2.0,5.0,5.0,0.0,0.0,5.0,2.0,15.0
7,Hamidou Diallo,G,13,1-4,0-1,0-0,1.0,4.0,0.0,0.0,0.0,1.0,4.0,2.0
8,Total,NaN,16-42,3-12,23-37,11,38.0,6.0,5.0,3.0,15.0,21.0,58.0,NaN
9,NaN,38.10%,25.00%,62.20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
game_score

   Unnamed: 0   1   2  Unnamed: 3
0         NaN  33  28          61
1         NaN  29  29          58

In [126]:
# Close browser.
browser.quit()

In [107]:
cleaned_url = url.split('/d1/')[1].replace('/', "_").replace('-', '_')

home_csv = cleaned_url + '_' + home_team + '.csv'
away_csv = cleaned_url + '_' + away_team + '.csv'
game_csv = cleaned_url + '_game_results' + '.csv'

# To use these remove to + .csv from the variables above. 
#home_table.to_csv('game_htmls/' + home_csv + '.csv')
#away_table.to_csv('game_htmls/' + away_csv + '.csv')
#game_score.to_csv('game_htmls/' + game_csv + '.csv')

with dw.open_remote_file('rustygentile/ncaa-etl', home_csv) as w:
    home_table.to_csv(w, index=False)
    
with dw.open_remote_file('rustygentile/ncaa-etl', away_csv) as w:
    away_table.to_csv(w, index=False)

with dw.open_remote_file('rustygentile/ncaa-etl', game_csv) as w:
    game_score.to_csv(w, index=False)