In [38]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
from splinter import Browser
import datadotworld as dw

In [39]:
dw_csv = dw.load_dataset('rustygentile/ncaa-etl', force_update=True)
url_list = dw_csv.dataframes['game_urls_active']
url_list.head()
for url in url_list['urls']:
    print(url)

https://www.ncaa.com/game/basketball-men/d1/2017/03/18/wisconsin-villanova
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/virginia-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/southern-california-baylor
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/south-carolina-duke
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/wisconsin-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/south-carolina-baylor
https://www.ncaa.com/game/basketball-men/d1/2017/03/26/south-carolina-florida
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/uc-davis-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/michigan-st-miami-fl
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/nevada-iowa-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vermont-purdue
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/rhode-island-creighton
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/iona-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/oklahoma-st-michigan
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/jacksonville-st-louisville
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/michigan-st-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/iowa-st-purdue
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/rhode-island-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/michigan-louisville
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/purdue-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/michigan-oregon
https://www.ncaa.com/game/basketball-men/d1/2017/03/25/oregon-kansas
https://www.ncaa.com/game/basketball-men/d1/2017/04/01/south-carolina-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/04/03/gonzaga-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/04/01/oregon-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/south-dakota-st-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vanderbilt-northwestern
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/princeton-notre-dame
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/bucknell-west-virginia
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/xavier-maryland
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/fgcu-florida-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/vcu-st-marys-ca
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/north-dakota-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/northwestern-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/notre-dame-west-virginia
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/xavier-florida-st
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/st-marys-ca-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/west-virginia-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/23/xavier-arizona
https://www.ncaa.com/game/basketball-men/d1/2017/03/25/xavier-gonzaga
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/texas-southern-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/seton-hall-arkansas
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/middle-tenn-minnesota
https://www.ncaa.com/game/basketball-men/d1/2017/03/16/winthrop-butler
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/kansas-st-cincinnati
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/kent-st-ucla
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/wichita-st-dayton
https://www.ncaa.com/game/basketball-men/d1/2017/03/17/northern-ky-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/arkansas-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/18/middle-tenn-butler
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/cincinnati-ucla
https://www.ncaa.com/game/basketball-men/d1/2017/03/19/wichita-st-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/butler-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/24/ucla-kentucky
https://www.ncaa.com/game/basketball-men/d1/2017/03/26/kentucky-north-carolina
https://www.ncaa.com/game/basketball-men/d1/2017/03/14/kansas-st-wake-forest
https://www.ncaa.com/game/basketball-men/d1/2017/03/14/mt-st-marys-new-orleans
https://www.ncaa.com/game/basketball-men/d1/2017/03/15/nc-central-uc-davis
https://www.ncaa.com/game/basketball-men/d1/2017/03/15/southern-california-providence

In [40]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.ncaa.com/game/basketball-men/d1/2017/03/17/troy-duke/boxscore"
browser.visit(url)
#browser.execute_script(browser.resizeTo(1024, 768))
browser.driver.set_window_size(3840, 2160)

In [41]:
html = browser.html
#response = requests.get(url)
soup = BeautifulSoup(html, 'lxml')
tables = pd.read_html(html)
away_table = tables[1]
away_table

,Name,POS,MIN,FGM-A,3PM-A,FTM-A,OREB,REB,AST,ST,BLK,TO,PF,PTS
0,Whit Moreman,F,1,0-0,0-0,1-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Juan Davis,F,11,0-2,0-2,0-0,0.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0
2,Jordon Varnado,F,36,7-12,1-5,3-3,4.0,10.0,4.0,0.0,1.0,7.0,0.0,18.0
3,Alex Hicks,F,20,6-9,0-0,2-2,3.0,6.0,0.0,0.0,1.0,1.0,3.0,14.0
4,Jaro Moravek,F-C,1,0-0,0-0,1-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,Aaron Ariri,F-C,1,0-0,0-0,0-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,B.J. Miller,G,3,0-0,0-0,0-0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,Jeremy Hollimon,G,23,2-9,1-4,0-0,1.0,3.0,2.0,0.0,0.0,0.0,3.0,5.0
8,Daniel Peace,G,8,0-2,0-0,0-0,1.0,1.0,3.0,0.0,0.0,0.0,5.0,0.0
9,Wesley Person,G,39,5-10,2-5,3-3,0.0,3.0,1.0,0.0,0.0,6.0,1.0,15.0
10,Kevin Baker,G,28,2-9,1-7,0-0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,5.0
11,Shawn Hopkins,G-F,2,0-0,0-0,0-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,DeVon Walker,G-F,27,2-6,0-0,2-2,2.0,7.0,0.0,0.0,0.0,1.0,3.0,6.0
13,Total,NaN,24-59,5-23,12-14,11,32.0,10.0,1.0,2.0,17.0,19.0,65.0,NaN
14,NaN,40.70%,21.70%,85.70%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
away_active = soup.find_all('div', class_='boxscore-team-selector-team awayTeam-bg-primary_color homeTeam-border-primary_color away active')
away_team = away_active[0].text.strip()
away_team
game_score = tables[0]

In [43]:
# Close browser.
browser.quit()

In [44]:
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

elems = browser.find_by_css('div[class="boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"]')

elems

In [45]:
browser.driver.set_window_size(3840, 2160)
browser.execute_script("window.scrollTo(0, 200)")
elems[0].click()

In [46]:
html = browser.html
#response = requests.get(url)
soup = BeautifulSoup(html, 'lxml')
home_active = soup.find_all('div', class_='boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home active')
home_team = home_active[0].text.strip()
home_team

'Duke'

In [47]:
html = browser.html
tables = pd.read_html(html)
home_table = tables[1]
home_table

,Name,POS,MIN,FGM-A,3PM-A,FTM-A,OREB,REB,AST,ST,BLK,TO,PF,PTS
0,Antonio Vrankovic,C,4,1-1,0-0,0-0,2.0,3.0,0.0,0.0,0.0,0.0,1.0,2.0
1,Harry Giles,F,6,0-1,0-0,0-0,1.0,1.0,1.0,0.0,1.0,2.0,3.0,0.0
2,Javin DeLaurier,F,2,1-1,0-0,0-0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
3,Amile Jefferson,F,29,3-7,0-0,2-2,3.0,6.0,1.0,2.0,3.0,2.0,3.0,8.0
4,Jack White,F,2,0-0,0-0,0-0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,Jayson Tatum,F,35,5-13,1-3,7-10,3.0,12.0,1.0,4.0,4.0,1.0,4.0,18.0
6,Justin Robinson,F,00,0-0,0-0,0-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Luke Kennard,G,29,3-12,2-5,0-0,3.0,3.0,2.0,0.0,0.0,1.0,2.0,8.0
8,Frank Jackson,G,33,5-10,2-6,2-4,0.0,1.0,3.0,2.0,0.0,1.0,2.0,14.0
9,Matt Jones,G,32,5-7,3-5,1-1,0.0,2.0,3.0,3.0,0.0,1.0,1.0,14.0
10,Grayson Allen,G,28,6-10,5-9,4-6,1.0,5.0,4.0,1.0,0.0,0.0,0.0,21.0
11,Total,NaN,29-62,13-28,16-23,13,33.0,15.0,13.0,8.0,8.0,17.0,87.0,NaN
12,NaN,46.80%,46.40%,69.60%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
game_score

   Unnamed: 0   1   2  Unnamed: 3
0         NaN  38  27          65
1         NaN  52  35          87

In [49]:
# Close browser.
browser.quit()

In [50]:
cleaned_url = url.split('/d1/')[1].replace('/', "_").replace('-', '_')

home_csv = cleaned_url + '_' + home_team + '.csv'
away_csv = cleaned_url + '_' + away_team + '.csv'
game_csv = cleaned_url + '_game_results' + '.csv'

# To use these remove to + .csv from the variables above. 
#home_table.to_csv('game_htmls/' + home_csv + '.csv')
#away_table.to_csv('game_htmls/' + away_csv + '.csv')
#game_score.to_csv('game_htmls/' + game_csv + '.csv')

with dw.open_remote_file('rustygentile/ncaa-etl', home_csv) as w:
    home_table.to_csv(w, index=False)
    
with dw.open_remote_file('rustygentile/ncaa-etl', away_csv) as w:
    away_table.to_csv(w, index=False)

with dw.open_remote_file('rustygentile/ncaa-etl', game_csv) as w:
    game_score.to_csv(w, index=False)